<div class="container">

  <h1>About me</h1>

  <div class="row">

    <div class="sm-40">

      <!-- <div class="flip-card">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <img src="static/img/profile.png" alt="Avatar" style="width:400px;height:500px;"></img>
          </div>
          <div class="flip-card-back">
            <p></p>
          </div>
        </div>
      </div> -->

      <div class="flip-card">
        <img src="static/img/profile.png" alt="Avatar" style="width:400px;height:500px;"></img>
      </div>

    </div>

    <div class="sm-60">

      <div class="presentation-title">
        I'm Thomas TOUBOUL, <span class="change-word"></span>
      </div>

      <div class="presentation-content">
        Hi! My name is <b>Thomas TOUBOUL</b>. I am a Data Scientist, and I'm very passionate and dedicated to my work.
        With 3-4 years experience, I have acquired the skills and knowledge necessary to make your project a success.
        Fast learner and hard worker, I enjoy working on each step of the process, from discussion of the main goal, the development of algorithms, to the deployment of the final solution.
      </div>

      <div class="extra-info">

        <div class="row">
          <div class="sm-50">Date of birth : &nbsp;&nbsp;&nbsp;<span>30.07.1991</span></div>
          <div class="sm-50">Location : &nbsp;&nbsp;&nbsp;<span>FRANCE</span></div>
        </div>

        <div class="row">
          <div class="sm-50">Languages : &nbsp;&nbsp;&nbsp;<span>French, English</span></div>
          <div class="sm-50">Freelance : &nbsp;&nbsp;&nbsp;<span class="available">Available</span></div>
        </div>

      </div>

      <div class="buttons">

        <a href="../#contact"><button class="nav-link">Contact me</button></a>

        <a href="static/CV.pdf" download="CV_Thomas_TOUBOUL.pdf"><button class="nav-link">Download CV</button></a>

      </div>

    </div>

  </div>

</div>
