<div class="container">

  <h1>Contact</h1>

  <div class="row">

    <div class="sm-50">

      <div class="contact-info">
        <i class="fas fa-user"></i>
        <div>
          <div class="subtitle">Freelance</div>
          Available for freelance hire
        </div>
      </div>

      <div class="contact-info">
        <i class="fas fa-at"></i>
        <div>
          <div class="subtitle">Email</div>
          thomas.touboul[at]gmail.com
        </div>
      </div>

      <div class="contact-info">
        <i class="fas fa-phone"></i>
        <div>
          <div class="subtitle">Phone</div>
          (+33) 6 XX XX XX XX
        </div>
      </div>

      <div class="contact-info">
        <i class="fas fa-map-marker-alt"></i>
        <div>
          <div class="subtitle">Location</div>
          Lyon, FRANCE
        </div>
      </div>

    </div>

    <div class="sm-50">

      <!-- <form method="post" role="form" action="/">
        <input type="text" name="name" placeholder="Name">
        <input type="text" name="email" placeholder="Email">
        <input type="text" name="subject" placeholder="Subject">
        <textarea type="text" name="message" placeholder="Message"></textarea>
        <input type="submit" value="Submit">
      </form> -->

    </div>

  </div>



</div>
