<div class="container">

  <h1>Portfolio</h1>

  <div class="portfolio-card">
    <img src="static/img/ball-small.png" alt="Football project"></img>
    <div class="description">
      This project main goal was to <b>analyse data about football in order to predict the result</b> of each match.<br><br>

      <b>Top 7 european 1st division championships</b> (England, Spain, Italy, France, Germany, Portugal, Netherlands) were under study on a <b>time period of 19 seasons</b> (from 2000 to 2019).
      The data comes from different sources but mainly from a free nonetheless quite reliable one : <a href="http://football-data.co.uk/" target="_blank">football-data.co.uk</a>, from where the database was built and which could be updated every week.<br><br>

      Several <b>forecasting models</b> where developped based on multiple features analysis, including the study of <b>dynamic rating systems</b> and the bivariate Poisson distribution, a simple and solid basis for predictive models.
      Luckily <b>the data includes odds</b> from serveral gambling websites, allowing to work on <b>betting simulation</b> as well.
      <br><br>
      <a href="https://www.freekick.io" target="_blank" class="portfolio-link">LINK : FreeKick.io</a>
    </div>
  </div>

</div>
