<div class="container">

  <h1>Skills</h1>

  <div class="skills">

    <div class="skills-block">

      <div class="coding">

        <div class="skills-title"><i class="fas fa-code"></i> Coding</div>

        <table class="coding-table">
          <tr><td>Python</td></tr>
          <tr><td><div class="bar" style="width:71%;"></td></tr>
          <tr><td>R</td></tr>
          <tr><td><div class="bar" style="width:84%;"></td></tr>
          <tr><td>SQL</td></tr>
          <tr><td><div class="bar" style="width:54%;"></td></tr>
          <tr><td>JavaScript</td></tr>
          <tr><td><div class="bar" style="width:31%;"></td></tr>
          <tr><td>HTML/CSS</td></tr>
          <tr><td><div class="bar" style="width:40%;"></td></tr>
        </table>

      </div>

      <div class="languages">

        <div class="skills-title"><i class="fas fa-language"></i> Languages</div>
        <div class="language"><img src="static/img/flags/France.png" alt="france"> French - <span>Native</span></div>
        <div class="language"><img src="static/img/flags/United Kingdom.png" alt="france"> English - <span>Fluent</span></div>
        <div class="language"><img src="static/img/flags/Spain.png" alt="france"> Spanish - <span>Basics</span></div>
        <div class="language"><img src="static/img/flags/Japan.png" alt="france"> Japanese - <span>Basics</span></div>

      </div>

    </div>

    <div class="skills-block">

      <div class="technical">

        <div class="skills-title"><i class="fas fa-tools"></i> Data science</div>

        <div id="technicalChart"></div>

      </div>

    </div>

    <div class="skills-block">

      <div class="transferable">

        <div class="skills-title"><i class="fas fa-user-astronaut"></i> Personal</div>

        <p>
          <span><b>Rigorous</b></span> : <br>
          Scientific rigour learnt during my experiences : taking care of every details as wrong report numbers can lead to bad decisions.
        </p>
        <p>
          <span><b>Resourceful</b></span> : <br>
          Tough problem to solve ? Thinking of new ideas and hardly searching for a solution is part of the job.
        </p>
        <p>
          <span><b>Reliable</b></span> : <br>
          Taking responsabilities for some project, need help for extra work, my team can always count on me.
        </p>
        <p>
          <span><b>Relaxed</b></span> : <br>
          Naturaly relaxed, it is quite hard to stress and upset me in both professional and personal life.
        </p>

      </div>

    </div>

  </div>

  <h1>Experience</h1>

  <div class="timeline">
    <div class="time-container">
      <div class="time-circle"></div>
      <div class="time-content">
        <div class="job-title">Data scientist</div>
        <div class="job-company">Aug. 2018 - Jan. 2019</div>
        <div class="job-tasks">
          Web application, football games results prediction :<br>
          → Developed automatic scripts for collecting data from several provider, including cleaning and storing process,<br>
          → Conducted analysis and built forecating models to predict football game outcome,<br>
          → Worked on betting simulation with online bookmakers odds,<br>
          → Developed a web application summarizing classic data and analytics.<br><br>

          Softwares : AWS, Python, Flask, SQLite, d3.js
        </div>
      </div>
    </div>
    <div class="time-container">
      <div class="time-circle"></div>
      <div class="time-content">
        <div class="job-title">R Developer</div>
        <div class="job-company">Feb. 2017 - Mar. 2018 | Bank of France</div>
        <div class="job-tasks">
          Within the Market and Credit Risk Management Unit :<br>
          → Prototyped, developed, and maintained a web application as a dashboard for credit risk,<br>
          → Configured and maintained a web server (configuration of LDAP authentication, use of packages).<br><br>

          Within the Valorisation Unit :<br>
          → Developed computer scripts for the automatic generation of quarterly and annual reports for the Eurosystem,<br>
          → Developed a web application for data control.<br><br>

          Softwares : R, R Shiny, Shiny Server, OracleSQL
        </div>
      </div>
    </div>
    <div class="time-container">
      <div class="time-circle"></div>
      <div class="time-content">
        <div class="job-title">Data scientist</div>
        <div class="job-company">Feb. 2016 - Jan. 2017 | Open Group</div>
        <div class="job-tasks">
          For research and development purposes :<br>
          → Human ressources : programmed an algorithm to extract informations from consultant CVs and operated exploratory analysis to clarify which domain should be improved.<br>
          → Mobile application reviews : operated text cleaning then NLP techniques to add statistic analysis to semantic analysis.<br><br>

          Softwares : Python, Spark <small>(PySpark)</small>, MongoDB, GCP
        </div>
      </div>
    </div>
    <div class="time-container">
      <div class="time-circle"></div>
      <div class="time-content">
        <div class="job-title">Statistical analyst</div>
        <div class="job-company">Sep. 2014 - Nov. 2015 | Deposits and Consignments Fund</div>
        <div class="job-tasks">
          Within the risk department of the Banking Services Department, on field of loans to legal professions :<br>
          → Constructed a credits database using every analytic sheets of each loan,<br>
          → Optimized the current credit risk model with key indicators cross analysis,<br>
          → Built an asset quality score on the portfolio. <br><br>

          Softwares : SAS, VBA <small>(Excel)</small>, SAP BI 4
        </div>
      </div>
    </div>
    <div class="time-container">
      <div class="time-circle"></div>
      <div class="time-content">
        <div class="job-title">VBA Developer</div>
        <div class="job-company">May 2014 - Aug. 2014 | La Mutuelle Générale</div>
        <div class="job-tasks">
          Within the welfare and collective contracts department of the Technical Directorate :<br>
          → Developed a reporting computer program for the actuarial service in order to automate reportings generation.<br><br>

          Softwares : SAS, VBA <small>(Excel)</small>
        </div>
      </div>
    </div>
  </div>

  <h1>Education</h1>

  <div class="accordion">
    <div class="accordion-title"><i class="fas fa-certificate"></i>&nbsp;&nbsp;<span class="year">2016</span><span class="title">Executive certificate - <b>Big data</b></span><span class="place">CentraleSupelec</span><i class="fas fa-plus"></i></div>
    <div class="accordion-content">
      Module 1 : Big Data challenges and opportunities<br>
      Module 2 : Statistics and regressions<br>
      Module 3 : Hadoop ecosystem, Spark<br>
      Module 4 : Data Mining: treatments, exploration, analysis, visualization<br>
      Module 5 : Machine learning<br>
      Module 6 : SQL et NoSQL databases<br>
      Module 7 : Big Data project management<br>
      Module 8 : Legal aspects and data protection<br><br>

      Cloudera's Hadoop platform :<br>
      - MapReduce<br>
      - Pig & Hive<br>
      - Spark (PySpark)<br>
      - NoSQL DB (MongoDB, Cassandra, Neo4j)<br>
      Machine learning : R, Python<br>
      Data vizualisation : Tableau
    </div>
  </div>

  <div class="accordion">
    <div class="accordion-title"><i class="fas fa-graduation-cap"></i><span class="year">2014 - 2015</span><span class="title">Master degree <small>(2nd year)</small> - <b>Statistics / Data science</b></span><span class="place">Pantheon-Sorbonne University (Paris 1)</span><i class="fas fa-plus"></i></div>
    <div class="accordion-content">
      <div class="row">
        <div class="sm-50">
          Data Mining :<br>
          - Principal component analysis<br>
          - Multiple correspondence analysis<br>
          - Discriminant analysis<br>
          - Hierarchical clustering<br>
          - K-means
        </div>
        <div class="sm-50">
          Regression/Classification :<br>
          - Generalized linear models<br>
          - Variables selection<br>
          - K nearest neighboors<br>
          - Naive Bayes classifier<br>
          - Perceptron / neural networks
        </div>
      </div>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion-title"><i class="fas fa-graduation-cap"></i><span class="year">2013 - 2014</span><span class="title">Master degree <small>(1st year)</small> - <b>Statistics / Financial risks</b></span><span class="place">Paris Diderot University (Paris 7)</span><i class="fas fa-plus"></i></div>
    <div class="accordion-content">
      <div class="row">
        <div class="sm-33">
          Computer science :<br>
          - Programming language C<br>
          - VBA (Excel)<br>
          - SAS / IML<br>
          - Performance analysis and simulations
        </div>
        <div class="sm-33">
          Mathematics :<br>
          - Probabilities<br>
          - Statistical inference<br>
          - Data Mining<br>
          - Regression models
        </div>
        <div class="sm-33">
          Other :<br>
          - Actuarial science<br>
          - Financial mathematics<br>
          - Insurance products<br>
        </div>
      </div>
    </div>
  </div>

  <div class="accordion">
    <div class="accordion-title"><i class="fas fa-graduation-cap"></i><span class="year">2010 - 2013</span><span class="title">Bachelor degree - <b>Applied Mathematics and Economy</b></span><span class="place">Paris Diderot University (Paris 7)</span><i class="fas fa-plus"></i></div>
    <div class="accordion-content">
      <div class="row">
        <div class="sm-33">
          Computer science :<br>
          - Algorithmics<br>
          - Programming language JAVA<br>
          - Database with SQL
        </div>
        <div class="sm-33">
          Mathematics :<br>
          - Descriptive statistics<br>
          - Inferential statistcs<br>
          - Probabilities<br>
          - Optimisation<br>
          - Differential topology
        </div>
        <div class="sm-33">
          Other :<br>
          - Microeconomics<br>
          - Macroeconomics<br>
          - Banks and financial markets<br>
          - Labour economics<br>
          - Econometrics
        </div>
      </div>
    </div>
  </div>

</div>

<script type="text/javascript" src="static/js/skills-radar-chart.js"></script>

<script>

  $(".bar").inViewport(function(px){
      if(px) $(this).addClass("expandWidth");
  });

  $(".time-content").inViewport(function(px){
      if(px) $(this).addClass("moveIn");
  });

  $('.accordion-title').on('click', function() {
    $(this).next().slideToggle('easing');
  });

  $(".time-content").mouseover(function() {
    $(this).prev().addClass('pulse');
  });
  $(".time-content").mouseout(function() {
    $(this).prev().removeClass('pulse');
  });

  plotSkillsRadarChart();

</script>
